button {
    width: 50px;
    height: 50px;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 230px;
    row-gap: 30px;
    background-color: rgb(114, 9, 9);
    padding: 10px;
    border: 2px solid black;
}

.screencontent {
    display: flex;
    margin: 4px 8px;
}

.screen {
    display: flex;
    column-gap: 50px;
    align-items: center;
    background-color: beige;
    border: 1px solid black;
}

.operatorcolumn {
    display: flex;
    flex-direction: column;
}

.digitcolumn {
    display:flex;
    flex-wrap: wrap;
    width: 200px;

}

.keyboard {
    display: flex;
}

.screecontent {
    display: flex;
    width: 120px;
    margin: 4px 12px;
}


.clear {
    display: flex;
    align-items: center;
    justify-content: center;
}
